@model qlcdvien.Models.Khenthuongtapthe

@{
    ViewBag.Title = "Details";

}

<h2>Details</h2>

<div>
    <h4>Khenthuongtapthe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CapCongDoan.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapCongDoan.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaykhenthuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaykhenthuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinhthuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhthuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soquyetdinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soquyetdinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capkhenthuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capkhenthuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scanurl)
        </dt>

        <dd>
            <a href="/Khenthuongs/DownloadFile?file=@Model.scanurl">Download</a>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Khenthuong_id }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>
