@model qlcdvien.Models.Ykien

@{
    ViewBag.Title = "Details";
  
}

<h2>Details</h2>

<div>
    <h4>Ykien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tieude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tieude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaydang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaydang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.daDuyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daDuyet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Hoatdong_Id }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>
