@model qlcdvien.Models.CapCongDoan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CapCongDoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Capcongdoan_id }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>
