@model IEnumerable<qlcdvien.Models.CapCongDoan>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.parent)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.Capcongdoan_id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Capcongdoan_id }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.Capcongdoan_id })
        </td>
    </tr>
}

</table>
