@model qlcdvien.Models.HoatdongCongdoan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HoatdongCongdoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tieude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tieude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anhhoatdong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anhhoatdong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaydang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaydang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.daDuyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daDuyet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Hoatdong_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
